<!DOCTYPE html>
<html>
<head>
  <title>Display a campus</title>
</head>
<body>
  <form action="/campus" method="POST">
  	<select name="campus">
      <option value="SF">San Francisco</option>
      <option value="SD">San Diego</option>
      <option value="NYC">New York City</option>
      <option value="CHI">Chicago</option>
      <option value="SEA">Seattle</option>
    </select>
    <button type="submit">Go</button>
  </form>
</body>
</html>